<h4> Log In </h4>
<%= form_tag log_in_path do %>
<%= label_tag :username %>
<%= text_field_tag :username %>
<%= password_field_tag :password %>
<%= label_tag :password %>
<%= password_field_tag :password_confirmation %>
<%= label_tag :password_confirmation %>
<%= submit_tag 'Log in' %>
<% end %>

<br>

<h5> Don't have an account? </h5>
<p>
  <%= link_to 'Create one!', new_user_path %>
</p>
